<template>
  <div class="list">
    <div class="list-head">
      <ul>
        <li>name</li>
      </ul>
    </div>
    <div class="list-body">
      <!-- <transition-group
        tag="div"
        name="fade"
      >
        <ul>
          <li>name</li>
        </ul>
      </transition-group> -->
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      project: null,
      projectName: '',
      loaded: false,
      loading: false,
      downloads: [],
      downloadsYear: [],
      downloadsMonth: [],
      downloadsWeek: [],
      labels: [],
      labelsYear: [],
      labelsMonth: [],
      labelsWeek: [],
      showError: false,
      showSettings: false,
      errorMessage: 'Please enter a project name',
      periodStart: '',
      periodEnd: new Date(),
      rawData: '',
      totalDownloads: ''
    }
  },
  created () {
    // if (this.$route.params.project) {
    //   this.project = this.$route.params.project

    this.requestData()
    // }
  },
  methods: {
    resetState () {
      this.loaded = false
      this.showError = false
    },
    requestData () {
      //   if (this.project === null || this.project === '' || this.project === 'undefined') {
      //     this.showError = true
      //     return
      //   }
      //   this.resetState()
      //   this.loading = true

      var session_url = 'https://doingfr.atlassian.net/rest/api/latest/project';
      var username = 'sberoudblanc@doing.fr';
      var password = '8Cl6P5Nu1pesP4CjHwCe268C';
      var basicAuth = 'Basic ' + btoa(username + ':' + password);

      axios.get(session_url, {
        headers: { 'Authorization': + basicAuth }
        // auth: {
        //   username: username,
        //   password: password
        // }

        // headers: {
        //   "Authorization": "Basic c2Jlcm91ZGJsYW5jQGRvaW5nLmZyOjhDbDZQNU51MXBlc1A0Q2pId0NlMjY4Qw==",
        //   "cache-control": "no-cache",
        //   "Postman-Token": "48bc9bac-f532-47bb-b4d9-7f8e83b802cf"
        // }

      }).then(response => {
        console.log('Authenticated' + response);
        // this.rawData = response.data.downloads
        //   this.downloads = response.data.downloads.map(entry => entry.downloads)
        //   this.labels = response.data.downloads.map(entry => entry.day)
        // debugger;
        // this.projectName = response.data.name
        //   this.totalDownloads = this.downloads.reduce((total, download) => total + download)
        // this.setURL()
        // this.loaded = true
        // this.loading = false
      }).catch(error => {
        console.log('Error on Authentication : ' + error);
      });

      //   axios.get(`https://doingfr.atlassian.net/rest/api/latest/project`)
      //     .then(response => {
      //       this.rawData = response.data.downloads
      //       this.downloads = response.data.downloads.map(entry => entry.downloads)
      //       this.labels = response.data.downloads.map(entry => entry.day)
      //       this.projectName = response.data.project
      //       this.totalDownloads = this.downloads.reduce((total, download) => total + download)
      //       this.setURL()
      //       this.groupDataByDate()
      //       this.loaded = true
      //       this.loading = false
      //     })
      //     .catch(err => {
      //       this.errorMessage = err.response.data.error
      //       this.showError = true
      //     })
    },
  }
}
</script>

<style scoped>
.list {
  width: 100%;
}
.list ul {
  padding: 0px;
  margin: 0px;
  display: flex;
}
.list ul li {
  list-style-type: none;
  flex: 1;
}
.list-header ul {
  display: flex;
  align-items: center;
}
.list-header ul li {
  padding: 0px 30px;
}
.list-body ul {
  border: solid 1px #e9e9e9;
  margin: 10px 0px;
  height: 60px;
}
.list-body ul li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  font-size: var(--fz-md);
  color: #bfbfbf;
  transition: background-color 0.4s;
}
.list-body ul:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>